<div *ngIf="!recData" class="article-container">
    <h1>Loading...</h1>
</div>
<div *ngIf="recData" class="article-container">
    <div class="article-media">
        <img class="{{recData.orientation}}" src="{{recData.imageUrl}}" alt="">
    </div>
    <div class="buttons info-holder">
        <div *ngIf="isAuthor" class="buttons">
            <a class="like-btn" (click)="deleteRec(recId)">Delete</a>
            <a class="like-btn" routerLink="/edit/{{recId}}">Edit</a>
        </div>

        <div class="likes" >
            <h3>Likes: {{likes.length}}</h3>
            <a class="like-btn" *ngIf="!isAuthor && !isLiked" (click)="likesUpdate()"><i class="fas fa-thumbs-up"></i> Like</a>
            <a class="like-btn" *ngIf="!isAuthor && isLiked" (click)="disslikeUpdate()"><i class="fas fa-thumbs-down"></i> Dislike</a>
        </div>
    </div>
    <div class="article-info">
        <h2>
            {{recData.title}}
        </h2>
        <p>
            {{recData.description}}
        </p>
    </div>
    

</div>
