<app-header></app-header>
<div class="create-article">
    <form #f="ngForm" (ngSubmit)="createStory(f)">
        <fieldset>
            <legend>Share your story</legend>
            <div *ngIf="isInvalid" class="error-message">Please fill all required data!</div>
            <p>
                <label for="upld">Upload image</label>
                <br>
                <input required ngModel name="imageFile" (change)="registerPhoto($event)" id="upld" type="file">
            </p>
            <p>
                <label for="pic-direction">Select picture orientation</label>
                <br>
                <select required ngModel name="orientation" id="pic-direction">
                    <option>Landscape</option>
                    <option>Portrait</option>
                </select>
            </p>
            <p>
                <input required ngModel type="text" name="title" placeholder="Your story title">
            </p>
            <p>
                <textarea required ngModel name="description" cols="30" rows="10" placeholder="Tell us your story"></textarea>
            </p>
            <p>
                <button type="submit" [disabled]="f.invalid" class="btn-submit">Share</button>
            </p>
        </fieldset>
    </form>
</div>
