<div class="login-container">
    <div class="site-login">
        <form #formLogin="ngForm" (ngSubmit)="login(formLogin)">
            <fieldset>
                <legend>Login</legend>
                <p class="email">
                    <label for="email">Email:</label>
                    <br>
                    <input ngModel required type="email" id="email" name="email" placeholder="Example: ryan@abc.bg">
                </p>
                <p class="password">
                    <label for="u-password">Password:</label>
                    <br>
                    <input ngModel required type="password" name="password" id="u-password">
                </p>
                <p class="submit">
                    <button [disabled]="formLogin.invalid" class="btn-submit">Log In</button>
                </p>
            </fieldset>
        </form>
    </div>
</div>
