<header class="site-header">
    <div class="header-nav">
        <div class="header-logo">
            <a routerLink="/home">Ryan's life</a>
        </div>
        <a *ngIf="(isUserLogged$ | async) && userName" routerLink="/user-profile">Welcome {{userName}}!</a>
        <div class="hamburger">
            <label for="ham-check" hidden><i class="fas fa-bars"></i></label>
            <input type="checkbox" id="ham-check" hidden>
            <div class="header-menu">
                <ul *ngIf="isUserLogged$ | async">
                    <li *ngIf="isAdmin">
                        <a routerLink="/admin">Admin Panel</a>
                    </li>
                    <li>
                        <a routerLink="/about">My moments</a>
                    </li>
                    <li>
                        <a routerLink="/articles">Your Stories</a>
                    </li>
                    <li>
                        <a routerLink="/create">Share a memory</a>
                    </li>
                    <li>
                        <a (click)="logout()" id="logout">Logout</a>
                    </li>
                </ul>
                <ul *ngIf="!(isUserLogged$ | async)">
                    <li>
                        <a routerLink="/login">Login</a>
                    </li>
                    <li>
                        <a routerLink="/register">Register</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</header>