<app-header></app-header>

<div *ngIf="isLoaded" class="admin-panel">
    <h2 *ngIf="articles.length === 0">There are no records</h2>
    <table *ngIf="articles.length !== 0">
        <thead>
            <tr>
                <th>Object Id</th>
                <th>Article Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of articles">
                <td>
                    {{a.objectId}}
                </td>
                <td>{{a.title}}</td>
                <td>
                    <a class="buttons" routerLink="/edit/{{a.objectId}}">Edit</a>
                    <a class="buttons" (click)="delete(a.objectId)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="!isLoaded" class="admin-panel">
    <h2>Loading...</h2>
</div>