<app-header></app-header>
<div class="register-container">
    <div class="site-register">
        <form [formGroup]="form" (ngSubmit)="register()">
            <fieldset>
                <legend>Register</legend>
                <div class="email">
                    <label for="email">Email:</label>
                    <br>
                    <input type="email" id="email" formControlName="email" placeholder="Example: ryan@abc.bg">
                </div>
                <div class="error" *ngIf="email?.touched && email?.errors">The email you entered is invalid</div>
                <div class="password">
                    <label for="u-password">Password</label>
                    <br>
                    <input type="password" id="u-password" formControlName="password">
                </div>
                <div class="error" *ngIf="password?.touched && password?.errors">The password must be minimum 3
                    characters!</div>
                <div class="password">
                    <label for="rep-u-password">Repeat Password</label>
                    <br>
                    <input type="password" id="rep-u-password" formControlName="rePassword">
                </div>
                <div class="error"
                    *ngIf="rePassword?.touched && rePassword?.value !== password?.value">
                    Passwords don't match!</div>
                <div class="submit field">
                    <button class="btn-submit" [disabled]="form.invalid || (rePassword?.value !== password?.value)">Register</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>